
*{
    margin:0;
    padding:0;
    list-style-type: none;
}
html{
    height: 100%;
}

body{
    background-image: url("../img/back.png"), url("../img/Group 1.png");
    background-color: #F3AF34;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    width: 100%;
}

a{
	background: no-repeat;
	text-transform: uppercase;
	text-decoration:none;
	color: white;
}

@media only screen and (max-width: 700px) {
    body{
        background-image: url("../img/mobile-back.png"), url("../img/MobileGroup 1.png");

    }
}


/*-------------------------------------- header----------------------------------- */



header{
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
}

header h1{
    width: 50px;
    height: 50px;
    margin: 0px 4%;
}

/* logo */
header h1 a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/logo.png") no-repeat left center;
    background-size: contain;
    text-indent:-99999px;
}


.mobile-menu{
    width: 100%;
    display: none;
}
.dropdown-content {
    display: none;
}

.mobile-menu img{
    display: inline-block;
    float: right;
    padding-right: 10px;
}

.mainNav{
    width: 100%;
}

.mainNav ul{
    width: 100%;
}

.mainNav ul li a{
    display: inline-block;
    float: right;
    padding: 10px;
    margin: 10px 2%;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.mainNav ul li a:hover{
    transition: 1s;
    transform: rotate(1deg);
    color: #34547A;
    transition: 50ms;
}
.mainNav ul li a.active{
    box-shadow: 1px 1px 8px -1px black;
}

.mobile-menu .dropdown .dropdown-content ul li a:hover{
    border: 2px solid #F3AF34;
}
.mobile-menu .dropdown .dropdown-content ul li a.active{
    border-bottom: 2px solid #F3AF34;
}




@media only screen and (max-width: 850px) {
    .mainNav ul li a{
        padding: 10px;
        margin: 10px 1%;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .mainNav{
        display: none;
    }
    .mobile-menu{
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        top: 30px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0.7);
        padding: 12px 16px;
        z-index: 1;
    }

    .mobile-menu .dropdown:hover .dropdown-content{
        display: block;
    }
}



/*--------------------------------------------------------- end of the header ----------------------------------------------------*/


/*------------------------------------------------------------- main -------------------------------------------------------------*/

#mainPage h1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 170px;

    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#mainPage h3{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    top: 270px;

    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;

    color: #FFFFFF;
}


#mainPage a{
    position: absolute;
    left: 38.9%;
    right: 38.9%;
    height: 45px;

    max-width: 270px;
    min-width: 100px;

    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

@keyframes online {
    from {top: 500px;}
    to {top: 350px;}
  }


#mainPage a#online{
    top: 350px;
    animation-name: online;
    animation-duration: 1s;
}

@keyframes subscribe {
    from {top: 500px;}
    to {top: 420px;}
  }

#mainPage a#subscribe{
    top: 420px;
    animation-name: subscribe;
    animation-duration: 1s;
}
#mainPage a h5{
    display:flex;
	width: 100%;
	height: 45px;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;
    vertical-align: middle;
}

#mainPage a h5:hover{
    box-shadow: 0 0 10px black;
}

#mainPage a h5:active{
    box-shadow: 0 0 10px black inset;
}



@media only screen and (max-width: 850px) {
    #mainPage h1{
        font-size: 40px;
        line-height: 50px;
    }

    #mainPage h3{
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 1px;
    }

    #mainPage a{
    left: 34%;
    right: 34%;
    height: 40px;
    }

    #mainPage a h5{
	height: 40px;
    }
}

/*------------------------------------------------------ end of main -----------------------------------------*/


/*------------------------------------------------------- about ----------------------------------------------*/
#aboutPage h3{
    position: absolute;
    left: 8%;
    right: 70%;
    top:150px;
    bottom: 70.47%;

    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    color: hsl(0,0%,100%)
}
#aboutPage h1{
    position: absolute;
    height: 130px;
    left: 10%;
    right: 52.5%;
    top:200px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 1);
}

#aboutPage .aboutText{
    position: absolute;
    height: 300px;
    left: 13%;
    right: 53.34%;
    top:320px;
}

#aboutPage p{
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 122%;
    line-height: 122%;
    text-align: justify;
    color: #FFFFFF;
}


#aboutPage img#img1{
    position: absolute;
    width: 420px;
    height: 509px;
    right: 12.5%;
    top: 115px;
    box-shadow: 0 0 10px black;
}
#aboutPage img#img2{
    position: absolute;
    width: 387px;
    height: 487px;
    right: 11.25%;
    top: 125px;
    box-shadow: 0 0 10px black;
}
#aboutPage img#img3{
    position: absolute;
    width: 403px;
    height: 465px;
    right: 10%;
    top: 135px;
    box-shadow: 0 0 10px black;
}

#aboutPage #switchdiv{
    position: absolute;
    width: 20px;
    height: 509px;
    right: 5.99%;
    top: 115px;
}


#aboutPage #switchdiv img#switch{
    position: absolute;
    width: 18px;
    height: 38px;
    right: 6%;
    top: 48%;

}

#aboutPage #switchdiv img#switch:hover{
    width: 22px;
    height: 42px;

}


#aboutPage #switchdiv img#switch:active{
    width: 18px;
    height: 38px;

}


#aboutPage #imgConteiner{
    position: absolute;
    width: 420px;
    height: 509px;
    right: 12.5%;
    top: 115px;
}

#aboutPage #imgConteiner img#circle0{
    position: absolute;
    right:86%;
    top: 90%;
}
#aboutPage #imgConteiner img#circle1{
    position: absolute;
    right: 66%;
    top: 90%;

}
#aboutPage #imgConteiner img#circle2{
    position: absolute;
    right: 46%;
    top: 90%;

}
#aboutPage #imgConteiner img#circle3{
    position: absolute;
    right: 26%;
    top: 90%;
}
#aboutPage #imgConteiner img#circle4{
    position: absolute;
    right: 10%;
    top: 90%;

}

#aboutPage #imgConteiner img.active{
    background-color: white;
    border-radius: 10px;

}
#aboutPage #imgConteiner img:hover{
    width: 17px;
    height: 17px;

}


#aboutPage #imgConteiner img:active{
    width: 16px;
    height: 16px;

}



@media only screen and (max-width: 1080px) {
    .aboutImages{
        display: none;
    }

    #switchdiv{
        display: none;
    }

    #imgConteiner{
        display: none;
    }

    #aboutPage h3{
        left: 1%;
        right: 1%;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    #aboutPage h1{
        left: 1%;
        right: 1%;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    #aboutPage .aboutText{
        left: 10%;
        right: 10%;
        top:320px;
    }

    #aboutPage p{
        display: block;
    }

    .aboutText #about-button{
        display: none;
    }
}


@media only screen and (max-width: 420px) {

    #aboutPage h3{
        left: 1%;
        right: 1%;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    #aboutPage h1{
        font-size: 30px;
    line-height: 30px;
    }

    #aboutPage .aboutText{
        left: 1%;
        right: 1%;
        top:320px;
    }
}
/*----------------------------------------- end of the about ------------------------------------------*/



/*--------------------------------------- subscribe page ----------------------------------------------*/

#subscribe .subscribeInfo{
    position: absolute;
    width: 56.5%;
    height: 600px;
    right: 1%;
    top: 63px;
}


#subscribe .subscribeInfo h3{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50px;

    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    color: hsl(0,0%,100%)
}
#subscribe .subscribeInfo h1{

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;

    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
#subscribe .subscribeInfo p{
    position: absolute;
    height: 130px;
    width: 100%;

    top: 200px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 122%;
    line-height: 122%;

    text-align: justify;

    color: #FFFFFF;
}

#subscribe img{
    position: absolute;
    width: 380px;
    height: 550px;
    left: 5%;
    top: 100px;
}

#subscribe .subscribeInfo .form-conteiner{
    position: absolute;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    top: 200px;
}

#subscribe .subscribeInfo .form-conteiner form{
    margin-left: 20%;
    margin-right: 20%;
}

#subscribe .subscribeInfo .form-conteiner form  ul{
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    height: 100%;
}

#subscribe .subscribeInfo .form-conteiner form ul li{
    text-align: center;
    width: 97%;
    height: 40px;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    max-width: 350px;
    min-width: 100px;
}


#subscribe .subscribeInfo .form-conteiner form ul li input{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
    color: #FFB548;
}

#subscribe .subscribeInfo .form-conteiner form  ul li input[type = "button"]{
    background-color: #FFB548;
    color:#1A1917;
    max-width: 200px;
}


@media only screen and (max-width: 1050px) {
    #subscribe img{
        display: none;
    }

    #subscribe .subscribeInfo{
        width: 98%;
        right: 1%;
        left: 1%;
    }

}
@media only screen and (max-width: 610px) {
    #subscribe .subscribeInfo h3{
        font-size: 17px;
        line-height: 17px;
    }
    #subscribe .subscribeInfo h1{
        font-size: 29px;
        line-height: 29px;
        letter-spacing: 2px;
    }
    #subscribe .subscribeInfo p{
        font-size: 17px;
        line-height: 17px;
    }

    #subscribe .subscribeInfo .form-conteiner form ul li{
        height: 30px;
    }

}

@media only screen and (max-width: 400px) {

    #subscribe .subscribeInfo .form-conteiner form  ul{
        width: 100%;
    }

}

/*--------------------- registracia/avtorizacia ------------------------------*/



.sign{
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.sign form{
    margin-left: 35%;
    margin-right: 35%;
}

.sign form  ul{
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    height: 100%;
}

.sign form  ul li{
    text-align: center;
    width: 97%;
    height: 40px;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    max-width: 315px;
    min-width: 100px;
}

.sign form ul li input{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
    color: #FFB548;
}

.sign form ul li input[type = "submit"]{
    background-color: #FFB548;
    color:#1A1917;
    width: 70%;
}

.sign form ul li h3{
    color:#fcefc8;
}

.sign form ul li h3 a{
    color:#c1deff;
}


@media only screen and (max-width: 800px) {
    .sign form{
        margin-left: 25%;
        margin-right: 25%;
    }

}

@media only screen and (max-width: 500px) {
    .sign form{
        margin-left: 11%;
        margin-right: 11%;
    }

}

/* -------------------------------end of registracia/avtorizacia --------------------- */





/* -------------------------------control panel --------------------------------------------*/

.ControlPanel{
    width: 100%;
    height: 500px;
}

.action{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 90%;

    margin-top: 49px;

}


.action form  ul{
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    height: 70%;
}

.action form  ul li{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    max-width: 315px;
    min-width: 100px;
}

.action form ul li h3{
    text-align: center;
}

.action form ul li input{
    background-color: black;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    font-size: 20px;
    color: #FFB548;
}
.sign form ul li input[type="file"]{
    display: none;
}
.action form  ul input[type="submit"]{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.custom-file-upload {
    display: block;
    background-color: #FFB548;
    color: black;
    padding: 9px 12px;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    text-align: center;
}


.action a{
    display:flex;
	width: 100%;
	height: 45px;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;
    vertical-align: middle;

    text-align: center;
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}



#mainPage a h5:hover{
    box-shadow: 0 0 10px black;
}

#mainPage a h5:active{

    box-shadow: 0 0 10px black inset;
}

/* ----------------------------end of control panel -------------------------------------- */



/* ---------------------------------footer ----------------------------- */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer .social{
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    min-width: 155px;
    max-width: 250px;

}

footer p{
    position: absolute;
    left: 10px;
    width: 335px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10.8px;
    /* min-width: 155px;
    max-width: 250px; */

}

footer .social a{
    float: right;
    margin: 8px 10%;
}

@media only screen and (max-width: 500px) {
    footer .social a{
        display: none;
    }

    footer p{
        font-size: 10px;
        width: 220px;
    }

}

/* --------------------------end of footer --------------------------- */